Q1. Create one variable containing following type of data: 
(i) string 
(ii) list 
(iii) float 
(iv) tuple

In [3]:
var1 = "This platform is very helpful"
var2 = [45, 87.98, "Krishna"]
var3 = 76.7845
var4 = (4, 5, 8, 89)
print(var1, var2, var3, var4)

This platform is very helpful [45, 87.98, 'Krishna'] 76.7845 (4, 5, 8, 89)

Q2. Given are some following variables containing data: 
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’ 
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
(iv) var4 = 1. 
What will be the data type of the above given variable.

In [6]:
var1 = '' 
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ] 
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example: 
(i) / 
(ii) %  
(iii) // 
(iv) **

In [7]:
a, b = 10,  3
# / is used for division
print(a/b)
# % is used for modulusor remainder
print(a%3)
# // is used for floor division
print(a//b)
# ** is used for power or Exponentiatiob
print(a**b)

3.3333333333333335
1
3
1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [2]:
list1 = [85.56, "Ram", 55, 81, 72.84, "stars", 88.44, 7+6j, 'Shyam', 70]
for item in list1:
  print(item)

85.56
Ram
55
81
72.84
stars
88.44
(7+6j)
Shyam
70

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible.

In [5]:
A = 24
B = 6
count = 1
while A%B == 0 and count < 2:
    count +=1
    C = A//B
if count >1:
    print(f"A is divisible by B and it can be divided {C} times")
else:
    print("A is not divisible by B.")

A is divisible by B and it can be divided 4 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [6]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
for num in my_list:
  if num%3 == 0:
    print(f"{num} is divisible by 3")
  else:
    print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property.

In [7]:
# mutable objects are those that allow us to add delete or replcae an data item in it like list
list2 = [23, 28, 46, 85]
print(list2)
list2[2] = 64
print(list2)
# immutable objects are those that don't allow us to do all above operations
str1 = "I am a Coder"
print(str1)
str1[5] = "i" # Here it shows an error
print(str1)

[23, 28, 46, 85]
[23, 28, 64, 85]
I am a Coder

TypeError: 'str' object does not support item assignment