Q1. How do you comment code in Python? What are the different types of comments?

In [8]:
# for comments we can use # in starting of any statement and for multline we can insert # infront of everyline
# there are two types of comments
# this is the first type of comments
''' This is second type of comment
and mainly use for
multi
line'''
print("these are comments")

these are comments

Q2. What are variables in Python? How do you declare and assign values to variables?

In [9]:
# varibles are used for store some value and have some memory location.we can assign some value to the variable
var1 = 76
var2 = "pwskills"
var3 = 12.26
var4 = 3+4j

Q3. How do you convert one data type to another in Python?

In [3]:
# we can simply convert one data type into another by using data type function like
string = "145"
str_to_int = int(string)
print(type(str_to_int))
integer = 365
int_t0_str = str(integer)
print(type(int_t0_str))
# by this way we can convert one data type to another

<class 'int'>
<class 'str'>

Q4. How do you write and execute a Python script from the command line?

In [14]:
# we can simply write our commands in python command prompt and hit enter to run it 
# second if we have python script than we have to execute it by writing python -m script.py or python3 -m script.py according to python vresion

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [4]:
my_list = [1, 2, 3, 4, 5]
print(my_list[1:3])

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [16]:
# complex number are the number that can contain both real and imaginary part
# in this 3 is real part and 7j is imaginary part
num = 3+7j
print(num)

(3+7j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [2]:
# the correct way to declare a variable is
age = 25
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [19]:
price = 9.99
print(type(price))  # its type is float

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [1]:
Name = "Gaurav Agrawal"
# we can print its value by using print function
print(Name)

Gaurav Agrawal

Q10. Given the string "Hello, World!", extract the substring "World".

In [22]:
string = "Hello, World!"
print(string[7:12])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [23]:
is_student = False